@model List<Category>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên danh mục</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
            </tr>
        }
    </tbody>
</table>
